.max-w-5xl.mx-auto.grid.grid-cols-1.sm:grid-cols-2.lg:grid-cols-3.gap-4.py-8
  - (1..9).each do |i|
    = render "pages/home/faq/question", question: t(".question_#{i}"), answer: t(".answer_#{i}_html")
