<p>Bienvenue sur Pipelines ("nous", "nous" ou "notre"). En utilisant nos logiciels et nos services (collectivement, les « Services »), vous acceptez d'être lié par les présentes conditions d'utilisation (ces « Conditions »). Si vous n'acceptez pas ces Conditions, n'utilisez pas nos Services.</p>

<h3>Utilisation des Services</h3>

<p>Vous ne pouvez utiliser nos Services que dans la mesure permise par la loi, y compris les lois et réglementations applicables en matière de contrôle des exportations et des réexportations. Vous êtes responsable de votre utilisation des Services et de toute donnée, texte, fichier, lien ou autre contenu que vous téléchargez, publiez ou stockez via les Services.</p>

<p>Nous nous réservons le droit de modifier ou d'interrompre les Services à tout moment, pour quelque raison que ce soit et sans préavis. Nous ne serons pas responsables envers vous ou tout tiers pour toute modification, suspension ou interruption des Services.</p>

<h3>Votre compte</h3>

<p>Vous devrez peut-être créer un compte pour utiliser certains de nos Services. Vous êtes responsable du maintien de la confidentialité de votre compte et de votre mot de passe, ainsi que de toute activité qui se produit sous votre compte.</p>

<h3>Confidentialité</h3>

<p>Notre politique de confidentialité explique comment nous recueillons, utilisons et partageons des informations vous concernant lorsque vous utilisez nos Services. En utilisant nos Services, vous acceptez la collecte, l'utilisation et le partage de vos informations comme décrit dans notre politique de confidentialité.</p>

<h3>Contenu</h3>

<p>Nos Services peuvent vous permettre de télécharger, publier ou stocker du contenu, tel que du texte, des fichiers, des liens ou d'autres éléments. Vous conservez la propriété de tous les droits de propriété intellectuelle que vous détenez sur ce contenu.</p>

<p>Lorsque vous téléchargez, publiez ou stockez du contenu sur ou via nos Services, vous nous accordez une licence mondiale, libre de droits et non exclusive pour utiliser, reproduire, modifier, adapter, publier, traduire, créer des œuvres dérivées à partir de, distribuer et afficher ce contenu. Cette licence a pour but d'exploiter, de promouvoir et d'améliorer nos Services, et d'en développer de nouveaux.</p>

<p>Vous déclarez et garantissez que vous disposez de tous les droits nécessaires pour nous accorder cette licence pour tout contenu que vous soumettez à nos Services.</p>

<h3>Liens vers d'autres sites Web</h3>

<p>Nos Services peuvent contenir des liens vers des sites Web ou des services tiers qui ne nous appartiennent pas ou ne sont pas contrôlés par nous. Nous n'avons aucun contrôle sur le contenu, les politiques de confidentialité ou les pratiques des sites Web ou services tiers et n'assumons aucune responsabilité à leur égard. Nous ne sommes pas responsables de la disponibilité de ces sites Web ou services et n'approuvons aucun d'entre eux.</p>

<h3>Avertissements</h3>

<p>Nos Services sont fournis "tels quels" et nous n'offrons aucune garantie, expresse ou implicite, à leur égard. Nous ne garantissons pas que nos Services seront disponibles à tout moment, ou qu'ils seront sans erreur.</p>

<h3>Limitation de responsabilité</h3>

<p>Nous ne serons pas responsables envers vous ou tout tiers pour tout dommage de quelque nature que ce soit résultant de ou lié à votre utilisation de nos Services, y compris, mais sans s'y limiter, les dommages directs, indirects, accessoires, consécutifs, punitifs et exemplaires .</p>

<h3>Loi applicable</h3>

<p>Ces Conditions et votre utilisation de nos Services seront régies et interprétées conformément aux lois françaises sans donner effet aux principes de conflits de lois.</p>

<h3>Contactez-nous</h3>

<p>Si vous avez des questions sur ces Conditions, veuillez nous contacter à <a href="mailto:dorian@pipelines.plumbing">dorian@pipelines.plumbing</a>.</p>
