<p>This privacy policy applies to Pipelines and its affiliates (collectively, &quot;us&quot;, &quot;we&quot;, or &quot;our&quot;). It explains how we collect, use, and share information about you when you use our websites, software, and services (collectively, &quot;Services&quot;).</p>

<p>By using our Services, you agree to the collection, use, and sharing of your information as described in this policy. If you do not agree with our policies and practices, do not use our Services.</p>

<h3>Information We Collect</h3>

<p>We collect information about you when you use our Services. This includes:</p>

<ul>
  <li>Information you provide to us directly. For example, we may collect your name, email address, and payment information when you sign up for a paid service or make a purchase.</li>

  <li>Information we collect automatically. We may collect information about your device and how you use our Services. This may include your IP address, device type, operating system, and browsing data.</li>

  <li>Information from third parties. We may receive information about you from third parties, such as social media platforms, to help us personalize and improve your experience.</li>
</ul>

<h3>How We Use Your Information</h3>

<p>We use the information we collect about you to provide, maintain, and improve our Services, and to communicate with you. This may include:</p>

<ul>
  <li>Providing and delivering the Services you request Responding to your comments, questions, and requests Analyzing your use of the Services to better understand how they are used Sending you technical notices, updates, security alerts, and support and administrative messages Sharing Your Information</li>

  <li>We may share your information with third parties in the following circumstances:</li>

  <li>With your consent. We may share your information if you have given us your consent to do so.</li>

  <li>With service providers. We may share your information with third-party service providers who perform services on our behalf, such as payment processing and hosting services.</li>

  <li>For legal reasons. We may share your information if we believe it is necessary to comply with a legal obligation, such as a court order or subpoena.</li>

  <li>To protect your rights. We may share your information if we believe it is necessary to enforce our terms of service, or to protect the rights, property, or safety of us or our users.</li>
</ul>

<h3>Your Choices</h3>

<p>You have the following choices regarding the collection, use, and sharing of your information:</p>

<ul>
  <li>Opt-out of marketing communications. You can unsubscribe from marketing emails by clicking the unsubscribe link at the bottom of the email.</li>

  <li>Access and update your information. You can access and update your account information by logging into your account.</li>

  <li>Delete your account. You can delete your account by contacting us at [contact email]. Please note that some information may remain in our records after you delete your account.</li>
</ul>

<h3>Changes to This Policy</h3>

<p>We may update our privacy policy from time to time. We will post any changes on this page and encourage you to review the policy periodically.</p>

<h3>Contact Us</h3>

<p>If you have any questions about this privacy policy, please contact us at <a href="mailto:dorian@pipelines.plumbing">dorian@pipelines.plumbing</a>.</p>

<p></p>
