= form_for :password, url: user_password_path(params[:user_id]), method: :patch do |f|
  = render "shared/field", f: f, name: :password, scope: :user, type: :password, fake: fake_passwords, value: password_param

  p= f.submit t(".submit"), class: "button--primary"
